@{
    ViewData["Title"] = SharedLocalizer["Edit item"];
}
@model ItemEditViewModel
<form method="post" asp-action="EditItem" asp-controller="Item">
    <div class="mb-3">
        <input type="hidden" asp-for="Id" value='@ViewContext.RouteData.Values["id"]' />

        <label class="form-label" asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control formInput h2" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <h5 class="text-secondary">@Model.CollectionName - @Model.CollectionTheme - @SharedLocalizer["Item"] </h5>
    </div>
    <ul class="list-unstyled mb-3">
        @for (int i = 0; i < Model.ItemFields.Count(); i++)
        {
            <li>
                @if (Model.ItemFields[i].GetInputType() == "checkbox")
                {
                    <label class="form-check-label">@Model.ItemFields[i].Name</label>
                    @if (Model.ItemFields[i].Value == "True")
                    {
                        <input type="checkbox" class="form-check-input" asp-for="ItemFields[i].Value" value="true" checked>
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" asp-for="ItemFields[i].Value" value="true">
                    }
                }
                else
                {
                    <label class="form-label">@Model.ItemFields[i].Name</label>
                    <input type="@Model.ItemFields[i].GetInputType()" class="form-control" asp-for="ItemFields[i].Value" value="@Model.ItemFields[i].Value" placeholder="@Model.ItemFields[i].Name">
                    <span asp-validation-for="ItemFields[i].Value" class="text-danger"></span>

                }
                <input type="hidden" asp-for="ItemFields[i].Type" value="@Model.ItemFields[i].Type">
                <input type="hidden" asp-for="ItemFields[i].Name" value="@Model.ItemFields[i].Name">
            </li>
        }
    </ul>
    <div class="mb-3">
        <label class="form-label">@SharedLocalizer["Tags"]</label>
        <button class="btn" type="button" id="newTagBtn"><i class="bi bi-bookmark-plus"></i></button>
        <ul id="tagUl" class="list-unstyled">
            @if (Model.Tags != null)
            {
                for (int i = 0; i < Model.Tags.Length; i++)
                {
                    <li class="mt-1">
                        <button type="button" class="btn me-1" onclick="$(this).parent().remove()"><i class="bi bi-x-circle-fill"></i></button>
                        <input type="text" class="form-control" name="Tags" value="@Model.Tags[i]" style="width:calc(100% - 46px);display:inline-block" placeholder='@SharedLocalizer["Tag"]' required />
                        <span class="text-danger" asp-validation-for="Tags[i]"></span>
                    </li>
                }
            }
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">@SharedLocalizer["Submit"]</button>
</form>
<datalist id="tagDatalist">
    @foreach (string tag in Model.AllTags)
    {
        <option value="@tag"></option>
    }
</datalist>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#newTagBtn').click(function () {
                let inputEl = $(`<input type="text" list="tagDatalist" class="form-control" name="tags" style="width:calc(100% - 46px);display:inline-block" placeholder='@SharedLocalizer["Tag"]' data-val="true" data-val-required="@SharedLocalizer["Tag required"]" required/>`);
                let inputValidationEl = $(`<span class="text-danger field-validation-valid" data-valmsg-for="tags" data-valmsg-replace="true"></span>`);
                let deleteInputButtonEl = $(`<button type="button" class="btn me-1" onclick="$(this).parent().remove()"><i class="bi bi-x-circle-fill"></i></button>`);
                let liEl = $('<li class="mt-1"></li>');
                liEl.append(deleteInputButtonEl);
                liEl.append(inputEl);
                liEl.append(inputValidationEl);
                $('#tagUl').append(liEl);
            });
        });
    </script>
}