@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = SharedLocalizer["Item"];
}
@model ItemViewModel
<div class="display-5">
    <h2>@Model.Name</h2>
    <h5 class="text-muted">
        <a class="text-decoration-none" asp-action="Index" asp-controller="Collection" asp-route-id="@Model.CollectionId">@Model.CollectionName</a> - @Model.CollectionTheme - @SharedLocalizer["Item"]
    </h5>
</div>
<ul class="list-unstyled">
    <li>@SharedLocalizer["Id"] - @Model.Id</li>
    <li>@SharedLocalizer["Author"] - @Model.UserName</li>
    @for (int i = 0; i < Model.ItemFields.Length; i++)
    {
        <li>@Model.ItemFields[i].Name - @Model.ItemFields[i].Value</li>
    }
    <li>@SharedLocalizer["Date created"] - <span class="type-Datetime">@Model.CreatedDate.ToString("r")</span></li>
    <li>
        @SharedLocalizer["Tags"]
        <ul>
            @if (Model.Tags.Length > 0)
            {
                foreach (string tag in Model.Tags)
                {
                    <li>@tag</li>
                }
            }
            else
            {
                <li>@SharedLocalizer["No tags"]</li>
            }
        </ul>
    </li>
</ul>
@if (SignInManager.IsSignedIn(User) && (Model.UserId == UserManager.GetUserId(User) || User.IsInRole("Admin")))
{
    <div>
        <a class="btn btn-primary" asp-action="EditItem" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a>
        <button type="button" class="btn btn-danger" onclick="$('#deleteModal').modal('show')">
            @SharedLocalizer["Delete item"]
        </button>
    </div>
}
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">@SharedLocalizer["Delete item"]</h5>
                <button type="button" class="close btn btn-sm btn-outline-danger" data-dismiss="modal" onclick="$('#deleteModal').modal('hide')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>@SharedLocalizer["DeleteItemModal"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide')">@SharedLocalizer["Close"]</button>
                <a class="btn btn-danger" asp-action="DeleteItem" asp-route-id="@Model.Id" asp-route-returnUrl="/collection/index/@Model.CollectionId">@SharedLocalizer["Delete item"]</a>
            </div>
        </div>
    </div>
</div>
<div>
    <h4 class="mt-2">@SharedLocalizer["Comments"]</h4>
    <form class="mb-2" id="newCommentForm" asp-action="CommentItem" method="post">
        <textarea class="form-control" name="model.Text" placeholder='@SharedLocalizer["Type your comment here"]' rows="1" required></textarea>
        <input type="hidden" name="model.ItemId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary mt-1">@SharedLocalizer["Send"]</button>
    </form>
    <div id="comments">
        
    </div>
</div>

@section Scripts{
    <script type="module">
        import Autogrow from "https://cdn.jsdelivr.net/npm/vanilla-autogrow@1.0.0/autogrow.min.js";
        var inst = new Autogrow();
    </script>
    @if (!SignInManager.IsSignedIn(User))
    {
        <script>
            $('form').click(function () {
                window.location.href = '/Identity/Account/Login';
            })
        </script>
    }
    <script>
        $(function () {
            loadComments();
            setInterval(loadComments, 5000);
        });
        function loadComments() {
            $.getJSON('/api/comments/@Model.Id',
                function (data) {
                    let newComments = $('<div id="comments"></div>');
                    for (let comment of data) {
                        $(newComments).append(`
                            <div class="card mb-2 border-0">
                                <div class="card-body">
                                    <b>
                                        <a href="/Collection/UserCollections/${comment.userName}" class="text-decoration-none">
                                            ${comment.userName}
                                        </a>
                                    </b>
                                    <span>${comment.text} </span>
                                </div>
                                <div class="card-footer text-muted">
                                            <span class="type-Datetime">${new Date(comment.createdDate).toLocaleString()} </span>
                                </div>
                            </div>
                        `);
                    }
                    $('#comments').replaceWith(newComments);
                }
            )
        }
    </script>
}