@model SearchViewModel;
@{
    ViewData["Title"] = @SharedLocalizer["Search"];
}

<p class="display-4">@SharedLocalizer["Search results"]</p>
<div class="card-columns">
    @foreach (User user in Model.Users)
    {
        <div class="card card-inline-block mb-1" data-href="/Collection/UserCollections/@user.UserName">
            <div class="card-body">
                <h4 class="card-title">@user.UserName</h4>
                <p class="card-text">
                    <small class="text-muted">
                        @SharedLocalizer["User"]
                    </small>
                </p>
            </div>
        </div>
    }
    @foreach (Collection collection in Model.Collections)
    {
        <div class="card card-inline-block mb-1" data-href="/Collection/Index/@collection.Id">
            <div class="card-header">
                <p class="display-5">@collection.Name</p>
            </div>
            @if (collection.ImageData != null)
            {
                <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(collection.ImageData))" />
            }
            else
            {
                <img class="card-img-top" src="~/default-image.jpg" />
            }
            <div class="card-body">
                <p class="display-6">@collection.Theme</p>
                <p class="card-text">
                    @if (collection.Description is not null)
                    {
                        <markdown>@collection.Description</markdown>
                    }
                    else
                    {
                        @SharedLocalizer["NoCardDesc"]
                    }
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @SharedLocalizer["Collection"] - <a asp-action="UserCollections" asp-controller="Collection" asp-route-username=@collection.User.UserName>@collection.User.UserName</a>
                    </small>
                </p>
            </div>
        </div>
    }
    @foreach (Item item in Model.Items)
    {
        <div class="card card-inline-block mb-1" data-href="/Item/Index/@item.Id">
            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <p class="card-text">
                    <small class="text-muted">
                        @SharedLocalizer["Item"] - <a asp-controller="Collection" asp-action="Index" asp-route-id="@item.CollectionId">@item.Collection.Name</a>
                    </small>
                </p>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.card').click(function () {
                window.location.href = $(this).data('href');
            });
        });
    </script>
}