@{
    IRequestCultureFeature requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course</title>
    @await Component.InvokeAsync("Theme")
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Course.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex flex-row align-items-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Course</a>
                    <form asp-controller="Home" asp-action="SetLanguage"
                          asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString.Value)"
                          method="post" class="form-inline">
                        <select class="form-select" name="culture" onchange="this.form.submit();"
                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                asp-items="cultureItems">
                        </select>
                    </form>
                    <a id="a-dark-theme" class="ms-2 text-white" asp-action="SetTheme" asp-controller="Home" asp-route-theme="dark" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString.Value)"><i class="bi bi-sun-fill"></i></a>
                    <a id="a-light-theme" class="ms-2 text-white" asp-action="SetTheme" asp-controller="Home" asp-route-theme="light" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString.Value)"><i class="bi bi-moon-fill"></i></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                        </li>
                        <li class="nav-item flex-grow-1">
                            <form class="d-flex" method="get" asp-controller="Search" asp-action="Index">
                                <input class="form-control" type="text" id="searchInput" name="searchText" placeholder="@SharedLocalizer["Search"]" />
                                <button type="submit" class="btn btn-outline"><i class="bi bi-search text-white"></i></button>
                            </form>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Course
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $('.type-Datetime').html(function (index, oldValue) {
                return new Date(oldValue).toLocaleString();
            });
        });
    </script>
</body>
</html>
