@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Collection" title="Collection">@SharedLocalizer["Collections"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="New" asp-controller="Collection" title="Collection">@SharedLocalizer["New"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">@SharedLocalizer["Hello"] @User.Identity?.Name!</a>
        </li>
        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Administration" asp-action="Index" title="Administration">@SharedLocalizer["Administration"]</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-light">@SharedLocalizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">@SharedLocalizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">@SharedLocalizer["Login"]</a>
        </li>
    }
</ul>
